<div class="text-left">
  <div class="upload-header">
    <h1 class="upload-title">Retrieve Drone Image</h1>
    <a class="upload-sub">This Section Ensures Images For Scanning (Availability of PNG/JPG/JPEG)</a>
    <p id="upload-location"></p>
  </div>

  <div class="drone-controls">
    <mat-card class="drone-img" style="background-image: url('../../../../../assets/tello_photo2023.png');">
      <mat-card-header>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    
    <div class="drone-buttons">
      <div class="drone-buttons-header">
        <p class="dron-image-title"> Tello Image Preview<br> 	• Uploaded on {{ currentDate | date }} </p>
      </div><br>

      <div class="btn-main-section">
        <button mat-flat-button class="drone-btn btn-main-connect" (click)="connect()">CONNECT</button>
        <button mat-flat-button class="drone-btn btn-main-takeoff" (click)="takeoff()" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">TAKEOFF</button>
        <button mat-flat-button class="drone-btn btn-main-land" (click)="land()" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">LAND</button>
        <button mat-flat-button class="drone-btn btn-main-photo" (click)="photo()" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">PHOTO</button>
      </div>
    
      <div class="btn-set1">
        <button mat-flat-button class="drone-btn btn-directions" (click)="move('forward', 30)" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">FWD</button>
        <button mat-flat-button class="drone-btn btn-directions" (click)="move('backward', 30)" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">BCKWD</button>
      </div>
    
      <div class="btn-set2">
        <button mat-flat-button class="drone-btn btn-directions" (click)="move('left', 30)" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">L</button>
    <button mat-flat-button class="drone-btn btn-directions" (click)="move('right', 30)" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">R</button>
      </div>
    
      <div class="btn-set3">
        <button mat-flat-button class="drone-btn btn-directions" (click)="move('up', 30)" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">U</button>
        <button mat-flat-button class="drone-btn btn-directions" (click)="move('down', 30)" [disabled]="!telloConnected" [ngClass]="{'disabled-button': !telloConnected}">D</button>
      </div>

      <div class="btn-submit-set">
        <button mat-flat-button (click)="uploadImage()" onclick="getLocation()" class="btn-submit btn-success" color="primary">Upload for Disaster Classification</button>
        <button mat-flat-button (click)="uploadDisaster()" onclick="getLocation()" class="btn-submit btn-success" color="primary">Upload for Post-Disaster Assessment</button>
      </div>
    </div>
  </div>
</div>
