
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 0px 30px;
  }
  
  .example-card {
    padding:10px;
    height: 200px;
    flex: 0 1 40%;
  }

  mat-card-title{
    margin-left: -20px;
  }

.upload-header{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}