.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
  }
  
  button.active {
    background-color: #555;
    color: #fff;
  }

  .card-image{
    width: 35%;
    margin: 10px;
    margin-left: 33%;
  }
  
  .textarea-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .retrain{
    margin-top: -25%;
  display: inline-grid;
  }

  textarea {
    width: 400px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .upload-header{
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}
  