<mat-toolbar>
  <span class="toolbar-spacer"></span>
  
  <span *ngIf="(auth.isAuthenticated$ | async) === false">
    <button  mat-flat-button color="accent" (click)="loginWithRedirect()">Log in</button>
  </span>

  <span class="flex" *ngIf="(auth.isAuthenticated$ | async)">
    <button class="btn btn-link p-0" mat-flat-button color="accent" (click)="logout()">Log out</button>
  </span>
</mat-toolbar>



<mat-drawer-container class="side-container">
  <mat-drawer class="side-nav" mode="side" opened>
    <img src="https://firebasestorage.googleapis.com/v0/b/gotabang.appspot.com/o/icon%2Fgotabang-newlogo.png?alt=media&token=48213924-5533-4363-adfa-62fccebbac5d">
    <div class="nav-buttons">
      <a  routerLinkActive="active" routerLink="dashboard"><mat-icon>home</mat-icon> Dashboard</a>
      <a  routerLinkActive="active" routerLink="upload2"><mat-icon>cloud_download</mat-icon> Retrieve</a>
      <a  routerLinkActive="active" routerLink="level"><mat-icon> insert_chart_outlined</mat-icon>Classify</a>
      <a  routerLinkActive="active" routerLink="post-disaster"><mat-icon>layers</mat-icon>Post Assessment</a>
      <a  routerLinkActive="active" routerLink="alert"><mat-icon>error_outline</mat-icon> Alert</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
      
    
<router-outlet></router-outlet>
</mat-drawer-content>
</mat-drawer-container>
<app-toolbar></app-toolbar>





